/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #777;
}

/* ****************** */
/* Page Main Heading */
/* **************** */

/* Navigation */

.nav-register-btn {
  transform: translate(0, 36%);
}

@media (max-width: 992px) {
  .nav-register-btn {
    transform: translate(-100%, 36%);
  }
}
